.contact-wrap {
    display: flex;
}

.contact-wrap li {
    margin-right: 50px;
}
.contact-item:last-child {
    margin-right: 0px;
}
.menu-contact {
    font-weight: var(--bold-font);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--alternative-font-color);
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    fill: currentColor;
    transition-property: color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.menu-contact svg {
    margin-right: 10px;
}
.menu-contact:hover,
.menu-contact:focus {
    color: var(--main-logo-color);
}
// _______________________________________

