.page-header {
    border-bottom: 1px solid #ececec;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
}
.navigation-wrap {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
}
.menu li {
    margin-right: 50px;
}
.menu-item:last-child {
    margin-right: 0px;
}
.menu-link.current {
    color: var(--main-logo-color);
    position: relative;
}
.current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-logo-color);
}
.menu-link {
    font-weight: var(--bold-font);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-font-color);
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--main-logo-color);
}