.our-team-list {
    display: flex;
    justify-content: space-between;
}
.our-team-item {
    background: var(--secondary-font-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.our-team-wrap {
    padding: 30px;
}

.our-team-name {
    font-weight: var(--bold-font);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-font-color);
    margin-bottom: 10px;
}

.our-team-job {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--alternative-font-color);
    margin-bottom: 16px;
}

