.propositions-items {
    position: relative;

    & > .image-overlay {
        position: absolute;
        background-color: var(--bg-image-overlay);
        bottom: 0px;
        overflow: hidden;
        width: 370px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
        color: var(--secondary-font-color);
    }
}

.propositions-list {
    display: flex;
    justify-content: space-between;
}
