.logo {
    color: var(--main-logo-color);
}
.page-header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--page-header-logo-color);
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.page-footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--secondary-font-color);
    margin-bottom: 20px;
    }