.propositions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-font-color);
    margin-bottom: 50px;
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-font-color);
    margin-bottom: 50px;
}
.regular-clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-font-color);
    margin-bottom: 50px;
}